/* Hide all non-printable content */

body > *:not(.print) {
  display: none;
}

/* Resets, Clears & Defaults */

*, *:after, *:before {
  box-sizing: border-box;
}
body, input, textarea {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  line-height: 1.3;
  color: black;
  background-color: white;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
h1, h2, h3, p {
  margin: 0 0 5pt 0;
  position: relative;
}
h1 {
  font-size: 18pt;
  font-weight: 600;
}
h2 {
  font-size: 12pt;
  font-weight: 300;
}
h3 {
  font-size: 10pt;
  font-weight: 400;
}
a {
  color: black;
  text-decoration: none;
}

/* End Resets, Clears & Defaults */

.resume aside {
  display: none;
}
.resume h1 {
  display: none;
}
.resume-header {
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  font-weight: 600;
  border-bottom: 3pt solid black;
  margin-top: 3pt;
  margin-bottom: 5pt;
}
.resume-header .website {
  float: right;
}
.resume .jobs {
  border-bottom: 2pt solid black;
  margin-bottom: 3pt;
}
.resume .jobs h3 {
  margin-bottom: 0pt;
}
.resume .jobs h4 {
  margin-top: 0pt;
  margin-bottom: 0pt;
}
.resume .jobs h4.company-description {
  display: inline-block;
  font-style: italic;
}
.resume .jobs h4.stack::before {
  content: "  :  ";
}
.resume .jobs h4.stack {
  display: inline-block;
  margin-bottom: 1pt;
}
.resume .jobs h2 {
  font-weight: 500;
  border-bottom: 2pt solid black;
  margin-top: 1pt;
  margin-bottom: 3pt;
}
.resume .jobs>ul {
  padding-left: 5pt;
  display: block;
  margin-top: 8pt;
  margin-bottom: 15pt;
  list-style-type: none;
}
.resume .jobs ul li h3 {
  margin-top: 8pt;
}
.resume .jobs ul li h3 .tenure {
  position: absolute;
  width: 100%;
  text-align: right;
}
.resume .jobs p {
  margin-bottom: 2pt;
}
.resume .jobs ul ul {
  list-style-type: disc;
  padding-left: 25pt;
}
.resume .references {
  float: left;
}
.resume .references h2 {
  font-weight: 500;
  border-bottom: 2pt solid black;
  margin-top: 2pt;
  margin-bottom: 8pt;
}
.resume .education {
  float: right;
}
.resume .education h2 {
  font-weight: 500;
  border-bottom: 2pt solid black;
  margin-top: 2pt;
  margin-bottom: 5pt;
}
