{{ define "main" }}
<article>
    <div class="card">
        <h2>Experience</h2>
        <div class="experience">
            {{- range site.Data.experience.companies }}
                <h1><a href="{{ .link }}">{{ .name }}</a></h1>
                <h2>{{ .description }}</h2>
                <h3>Stack / Tools: {{ .stack }}</h3>
                {{- range .positions }}
                    <h4>{{ .title }}</h4>
                    {{- with .tenure }}
                        <h5>{{ .start }} - {{ .close }}</h5>
                    {{- end }}
                    {{ .description | markdownify | safeHTML }}
                {{- end }}
            {{- end }}
        </div>
    </div>

    <div class="resume-footer">
        <div class="card">
            <h2>Education</h2>
            <p>
                Bachelor of Computer Science at <a href="http://www.bridgew.edu/">Bridgewater State University</a>.
            </p>
        </div>

        <div class="card">
            <h2>References</h2>
            <p>References available upon request.</p>
        </div>
    </div>
</article>
{{ end }}